.container {
	max-width: 1280px;
	padding: 0 45px;
	margin: 0 auto;
}

.title {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	background-image: linear-gradient(to right, #3fab3f, #3fab3f);
	background-size: 40px 7%;
	background-repeat: no-repeat;
	background-position: bottom, 4px, 0;
	padding-bottom: 15px;
	margin-bottom: 90px;
}

.block1 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fcfcfc;
	z-index: 2;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.header__logo {
	flex: 0 0 60px;
	z-index: 3;
}

.header__logo img {
	max-width: 100%;
	display: block;
}

.header__burger {
	display: none;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}

.header__list li {
	margin: 0 0 0 50px;
}

.header__menu--link {
	font-size: 18px;
}

@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		flex: 0 0 40px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header__burger span {
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fcfcfc;
		padding: 70px 10px 20px 40px;
		transition: all 0.3s ease 0s;
	}

	.header__menu.active {
		top: 0;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0 0 20px 0;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__menu--link {
		font-size: 25px;
	}

	.title {
		margin-bottom: 45px;
	}

	.block2__image,
	.block3__image {
		display: none;
	}
}

.block1__main {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 75%;
}

.block1__main--title {
	margin-bottom: 25px;
}

.block1__main--subtitle {
	width: 75%;
	text-align: center;
	margin: 0 auto 50px;
}

.button {
	cursor: pointer;
	background-image: linear-gradient(to right, #8fd98f, #3fab3f);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 12.5px 35px 16px;
}

.block2 {
	min-height: 60vh;
	overflow: hidden;
	margin-bottom: 100px;
}

.block2__container {
	max-width: 1280px;
	padding: 0 45px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

@media (min-width: 767px) {
	.block2__main {
		display: flex;
	}

	.block2__image {
		flex: 0 0 50%;
		transform: translate(0, 0);
		position: relative;
		padding: 0 0 26% 0;
	}

	.block2__image img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	.block2__body {
		width: 50%;
	}
}

.block2__content {
	display: flex;
	flex: 0 0 80%;
}

.block2__image {
	max-width: 100%;
}

.block2__item {
	display: flex;
	align-items: flex-start;
}

.block2__item:not(:nth-child(3)) {
	margin-bottom: 40px;
	padding: 0 0 32px 0;
}

.block2__item--image {
	border-radius: 100%;
	overflow: hidden;
	height: 68px;
	width: 68px;
	flex-shrink: 0;
}

.block2__item--image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.block2__item--text {
	margin-left: 32px;
	padding-right: 45px;
}

.block2__item--title {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 5px;
}

.block2__additional {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("/img/keyboard_bg.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}

.block2__additional--title {
	max-width: 30%;
	text-align: center;
	margin-bottom: 60px;
}

.block2__additional--button {
	position: relative;
}

.block2__additional--button:before {
	position: absolute;
	content: "";
	top: -30px;
	left: -100px;
	height: 50px;
	width: 100px;
	background-image: url("/img/Arrow Btn.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotate(60deg);
	opacity: 0.6;
}

.block3 {
	background-color: #61b861;
	padding-top: 80px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.block3__title {
	color: #fff;
	text-align: center;
	font-weight: 500;
	margin-bottom: 50px;
}

.block3__list {
	display: flex;
	flex-direction: column;
	color: #fff;
}

.block3__list--item {
	display: flex;
}

.block3__list--item:not(:last-child) {
	margin-bottom: 50px;
}

.block3__main {
	width: 100%;
	overflow: hidden;
	margin-bottom: 80px;
}

.block3__content {
	flex: 0 0 100%;
}

.block3__image img {
	max-width: 100%;
}

.block__list--title {
	flex: 1 1 40%;
	font-size: 21px;
}

.block__list--desc {
	flex: 1 1 50%;
	font-weight: 300;
	font-size: 15px;
	padding-left: 10px;
}

@media (min-width: 767px) {
	.block3__main {
		display: flex;
	}

	.block3__image {
		position: relative;
		flex: 0 0 50%;
		padding: 0 0 26% 0;
		transform: translate(-100%, 0);
	}

	.block3__image img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	.block3__body {
		width: 50%;
	}
}

.block3__button {
	background-image: linear-gradient(white, white);
	color: #61b861;
	border: none;
	border-radius: 5px;
	display: flex;
	align-self: center;
}

.block4 {
	padding-bottom: 60px;
	padding-top: 80px;
}

.slider__item {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 15px;
}

.slider__item--button {
	margin-top: 30px;
}

.slider__item--main {
	border: 3px solid #61b861;
	padding: 18px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}

.slider__item--title {
	margin-bottom: 20px;
	margin-top: 10px;
}

.slider__item--subtitle {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	flex-wrap: wrap;
}

.slider__item--image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 15px;
}

.slider__item--username {
	position: relative;
	padding-right: 10px;
}

.slider__item--username:after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: #000;
}

.slider__item--category {
	padding-left: 10px;
	color: #61b861;
	align-items: center;
}

.slider__item--text {
	padding: 10px;
	margin-bottom: 25px;
	width: 100%;
}

.slider__item--footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.slider__item--level {
	position: relative;
	display: block;
	padding-right: 10px;
}

.slider__item--level:after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: #000;
}

.slider__item--time {
	padding-left: 10px;
}

.slick-list {
	overflow: hidden;
}

.slick-track {
	display: flex;
	align-items: flex-start;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.slider .slick-dots li {
	list-style: none;
	margin: 0 10px;
}

.slider .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid #000;
}

.slider .slick-dots li button {
	font-size: 0;
	width: 15px;
	height: 15px;
	background-color: #000;
	border-radius: 50%;
	background-image: linear-gradient(to right, #8fd98f, #3fab3f);
}

.slider {
	position: relative;
	padding: 0 60px;
}

.slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -30px 0 0 0;
	z-index: 10;
	font-size: 0;
	width: 40px;
	height: 60px;
	cursor: pointer;
	border: none;
}

.slider .slick-arrow.slick-prev {
	left: 0;
	background: url("/img/slider-arrow-left.svg") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
	right: 0;
	background: url("/img/slider-arrow-right.svg") 0 0 / 100% no-repeat;
}

.block5 {
	padding-top: 50px;
	padding-bottom: 80px;
}

.block5__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	justify-content: center;
}

.block5__list--item {
	height: 40px;
	width: auto;
	filter: grayscale(100%);
	opacity: 0.3;
	margin: 0 30px 30px;
}

.block5__list--item:hover {
	filter: none;
	opacity: 1;
}

.block6 {
	padding-bottom: 50px;
}

.block6__main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.block6__info {
	margin-bottom: 20px;
	margin-right: 50px;
	margin-left: 50px;
}

.block6__form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.block6__form--tel {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #000;
	width: 100%;
}

.block6__form--name {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #000;
	width: 100%;
}

.block6__form--question {
	margin-bottom: 20px;
	border: 1px solid #000;
	width: 100%;
}

.footer {
	background-color: #000;
	color: #fff;
}

.footer__main {
	display: flex;
	flex-direction: column;
	padding: 30px 0;
}

.footer__main--title {
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 15px;
	font-size: 20px;
}

.footer__main--subtitle {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 20px;
}

.copy {
	color: #cecece;
	font-size: 13px;
	padding-top: 20px;
}

.footer__socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 20px;
}

.footer__link:not(:last-child) {
	margin-right: 20px;
}
